<!-- About Me Section -->
<div class="col-12 col-lg-10 mx-auto text-center my-5">
    <div class="d-md-flex flex-column flex-md-row mb-4">
        <h3 class="mb-0 me-md-3">
            About Me
        </h3>
    </div>

    <div class="col-12 col-md">
        <p class="display-4 mb-0 text-responsive">
            <span class="text-yellow">Dedicated and innovative</span><br>
            professional who thrives on resilience and passion.
        </p>
    </div>


    <div class="d-md-flex flex-wrap justify-content-center align-items-center">
        <!-- About Me Content Here -->
        <div class="bio-section-container" id="bioSectionContainer">
        <div class="container-fluid mt-5 p-0 vscode-window" id="bioSection">
            <div class="vscode-tab-bar d-flex align-items-center" role="tablist"> 
                <div class="vscode-tab active" role="tab">about.py</div>
                <div class="vscode-tab" role="tab">README.md</div>
                <div class="vscode-tab" role="tab">cs50.c</div>
                <div class="vscode-tab" role="tab">dreams.cpp</div>
            </div> 
                        
            <div class="d-flex">
                <!-- Sidebar -->
                <div class="vscode-sidebar p-3 d-flex flex-column align-items-center">
                    <i class="bi bi-files" aria-label="Files"></i>
                    <i class="bi bi-search" aria-label="Search"></i>
                    <i class="bi bi-git" aria-label="Source Control"></i>
                    <i class="bi bi-code-square" aria-label="Code Editor"></i>
                    <i class="bi bi-grid" aria-label="Grid View"></i>
                    <i class="bi bi-gear mb-2" aria-label="Settings"></i>                
                </div>
                        
                <!-- Main Code Editor Area -->
                <div class="vscode-editor">
                    <div class="vscode-code"> 
                        <pre class="python text-start">
    <code><span class="comment"># Study. Code. Debug. Repeat.</span>
    <span class="keyword">def</span> <span class="function">main</span>():
        <span class="string">"""In my anime theme world, this means I want to fly. I will fly. I am flying.
            More than 25 years ago, Son Goku of Dragon Balls Z taught me that through training, experience, 
            persistence and dedication, I can achieve my goals. And I will do just that! I plan to pick up techniques 
            from the Master Roshis of Programming and become great on my own. My dream is to craft an invention that 
            screams 'future'. Imagine a creation so groundbreaking that it reshapes how we live. 
            The future is calling, and innovation awaits!"""</span>
        <span class="keyword">for</span> _ <span class="keyword">in</span> <span class="built_in">range</span>(4):
            <span class="built_in">print</span>(<span class="string">"Study. Code. Debug. Repeat."</span>)
    
    <span class="keyword">if</span> __name__ == <span class="string">"__main__"</span>:
        <span class="function">main</span>()
    </code>
                        </pre>
                    </div> 
                </div>
            </div> 
        </div>
    </div>
</div>
</div>



<!-- <div class="d-none d-md-block col-12 col-lg-10 mx-auto text-center my-5"> 
    <div class="about-section d-flex align-items-center mb-4" id="aboutSection">
        <h3 class="mb-0 me-md-3">
            <i class="bi bi-info-circle text-success me-2"></i>         
            About Me
        </h3>
    </div>
    
    
</div>  -->

<!-- About for smaller screens -->
<!-- <div class="card d-md-none mx-3 my-3 bg-dark"> 
    <div class="card-body"> 
        <div class="d-flex flex-column align-items-center mb-4"> 
            <h3 class="mb-0 me-md-3"><i class="bi bi-person text-success me-2 fs-1"></i> About Me</h3>
        </div> 

        <div class="vscode-editor"> 
            <div class="vscode-code">
                <pre class="python text-start">
<code><span class="comment"># Study. Code. Debug. Repeat.</span>
<span class="keyword">def</span> <span class="function">main</span>():
<span class="string">"""In my anime theme world, this means I want to fly. I will fly. I am flying.
More than 25 years ago, Son Goku of Dragon Balls Z taught me that through training, experience, 
persistence and dedication, I can achieve my goals. And I will do just that! I plan to pick up techniques 
from the Master Roshis of Programming and become great on my own. My dream is to craft an invention that 
screams 'future'. Imagine a creation so groundbreaking that it reshapes how we live. 
The future is calling, and innovation awaits!"""</span>
<span class="keyword">for</span> _ <span class="keyword">in</span> <span class="built_in">range</span>(4):
<span class="built_in">print</span>(<span class="string">"Study. Code. Debug. Repeat."</span>)

<span class="keyword">if</span> __name__ == <span class="string">"__main__"</span>:
<span class="function">main</span>()
</code>
                </pre>
            </div> 
        </div> 

        <div class="d-flex flex-wrap justify-content-center">
        </div>
    </div> 
</div>   -->
