@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:wght@700&display=swap');


// Global Css of the entire Portfolio website
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Mona Sans', sans-serif;
}

.container {
  max-width: 100%; 
  box-sizing: border-box; 
}

/* Default to light theme */
:root[data-theme='light'] {
    --background-color: #ffffff;
    --primary-text-color: #212529;
    --secondary-text-color: #495057;
    --accent-color: #ff5722;
    --highlight-color: #ffc107;
    --border-color: #dee2e6;
    --hover-color: #f8f9fa;
  }
  
  :root[data-theme='dark'] {
    --background-color: #131313;
    --primary-text-color: #e0e0e0;
    --secondary-text-color: #9e9e9e;
    --accent-color: #ff5722;
    --highlight-color: #ffc107;
    --border-color: #1a1a1a;
    --hover-color: #1c1c1c;
  }
  
  /* Base styles for the body */
  body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Links */
  a {
    color: var(--accent-color);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--highlight-color);
  }


  /* Borders */
  hr {
    border-color: var(--border-color);
  }


  /* Bootstrap card styles */
  .card {
    border-color: var(--border-color);
  }
  
  .card-header, .card-footer {
    background-color: var(--background-color);
    color: var(--primary-text-color);
  }

  [data-bs-theme='dark'] .btn-success {
    background-color: #ff5722;
    color: #fff;
    border: 2px solid #ff5722;
  }
  
  [data-bs-theme='dark'] .btn-success:hover {
    background-color: #e64a19; 
    box-shadow: 0 0 10px rgba(255, 87, 34, 0.8);
  }
  
  /* Custom outline button */
  [data-bs-theme='dark'] .btn-outline-success {
    background-color: transparent;
    border: 2px solid #ff5722;
    color: #ff5722; 
  }
  
  [data-bs-theme='dark'] .btn-outline-success:hover {
    background-color: transparent;
    box-shadow: 0 0 10px rgba(255, 87, 34, 0.8);
  }

/* Light mode styles (default) */
.text-yellow {
    color: #28a745; /* Default green */
  }
  
  /* Dark mode styles */
  [data-bs-theme='dark'] .text-yellow {
    color: #ffc107; /* Yellow for dark mode */
  }


*, *::before, *::after {
    box-sizing: border-box;
}

article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
}

h1, h2, h3, h4, strong {
    padding-top: 1em;
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}
ul, ol {
    margin: 1em 0;
    padding-left: 40px;
}
p, figure {
    margin: 1em 0;
}
a img {
    border: none;
}
sup, sub {
    line-height: 0;
    font-size: 75%;
}




// Mobile Responsiveness
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

}