.certificate-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    border-radius: 15px !important;

    // display: none;
}

.certificate-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.certificate-card:hover {
    // transform: translateY(-5px);
    box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.2), /* Subtle shadow */
    0 0 15px rgba(255, 255, 255, 0.3); /* Light outer glow */
  transform: perspective(500px) rotateX(0deg) rotateY(0deg); /* Initial 3D transform */
  transition: 
    box-shadow 0.3s ease, /* Smooth shadow transition */
    transform 0.3s ease; /* Smooth transform transition */
    
}

.certificate-card-image {
    object-fit: cover;
    height: 400px;
    width: 100%;
    border-radius: 10px 10px 0 0 !important;
}

.certificate-card-image.contain {
    object-fit: contain; 
}

.card-title {
    font-size: 1.25rem;
}

// .card-text {
//     font-size: 1rem;
//     color: #666;
// }

.arrow-more-btn {
    font-size: 24px;
    color: $orange;
    border: none;
    background: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin: 0 5px;
}
.arrow-more-btn:hover {
    color: $yellow;
    text-decoration: none;
}