.certificate-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    border-radius: 15px !important;

    // display: none;
}

.certificate-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.certificate-card:hover {
    transform: translateY(-5px);
    
}

.certificate-card-image {
    object-fit: cover;
    height: 400px;
    width: 100%;
    border-radius: 10px 10px 0 0 !important;
}

.certificate-card-image.contain {
    object-fit: contain; 
}

.card-title {
    font-size: 1.25rem;
}

// .card-text {
//     font-size: 1rem;
//     color: #666;
// }

.arrow-more-btn {
    font-size: 24px;
    color: $orange;
    border: none;
    background: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin: 0 5px;
}
.arrow-more-btn:hover {
    color: $yellow;
    text-decoration: none;
}

@media (max-width: 768px) {
    .certificate-card-image {
        height: 250px;
    }
}