<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      <section id="header" class="bg-white">
      {% include header.html %}
      </section>
      <section id="versions">
        {% include versions.html %}
    </section>
      
      <section id="about">
          {% include about.html %}
      </section>
      

      
      <section id="projects">
          {% include projects.html %}
      </section>

    <main>
      {{ content }}
    </main>
      
    {% include footer.html %}
      
    {% include scripts.html %}

  </body>
  </html>
